@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}


/* Cabeçalio */
header{
    margin-left:231px ;
}

header img{
    width: 90.6px;
    height: 26.9px;
    margin-top: 36.1px;
    margin-right: 122.4px;
}

header a{
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    margin: 0 30px;
}

/* Conteúdo */
.content{
    margin-left: 230px;
    background: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin-top: 30px;
    position: relative;
}

.content h1{
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    padding-top: 117px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.content p{
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
    padding-left: 60px;
}

/* chef */
.content img{
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* Mais acessadas */
.bests{
    margin-top: 50px;
    margin-left: 230px;
    max-width: 940px;
}

.bests h2{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

/* Cards */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* Card */
.card-image img{
    border-radius: 15px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.card-content{
    margin-top: 20px;
}

.card-content p{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
}

.card-content .card-chef p{
    margin-top: 5px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #777777;
}

/* footer */
footer{
    margin-top: 50px;
    background: #EEEEEE;
    height: 62px;
    width: 100%;
    
}

footer p{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    padding-top: 23px;
    text-align: center;
}