@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}


/* Cabeçalio */
header{
    margin-left:231px ;
}

header img{
    width: 90.6px;
    height: 26.9px;
    margin-top: 36.1px;
    margin-right: 122.4px;
}

header a{
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    margin: 0 30px;
}

/* Conteúdo */
.content{
    margin-left: 230px;
    background: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin-top: 30px;
    position: relative;
}

.content h1{
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    padding-top: 117px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.content p{
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
    padding-left: 60px;
}

/* chef */
.content img{
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* Mais acessadas */
.bests{
    margin-top: 50px;
    margin-left: 230px;
    max-width: 940px;
}

.bests h2{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

/* Cards */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* Card */
.card-image img{
    border-radius: 15px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.card-content{
    margin-top: 20px;
}

.card-content p{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
}

.card-content .card-chef p{
    margin-top: 5px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

/* footer */
footer{
    margin-top: 50px;
    background: #EEEEEE;
    height: 62px;
    width: 100%;
    
}

footer p{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    padding-top: 23px;
    text-align: center;
}

/* Página Sobre */
.about{
    margin-left:231px ;
    max-width: 940px;
    margin-top: 50px;
}

.about h1{
    margin-bottom: 20px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}

.about p{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 20px;
    
}

.about h2{
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}

/* MODAL */
.modal-overlay{
    position: fixed;
    top: 0%;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.modal{
    position: relative;
    background: white;
    border-radius: 16px;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 15vh auto;
}

/* MODAL ACTIVE */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

/* Modal-Image */
.modal-image img{
    border-radius: 15px;
    border-radius: 15px;
    width: 600px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

/* Mdal-Info */
.modal-info h2{
    margin-top: 20px;
    font-family: Roboto-Regular;
    font-weight: normal;
    font-size: 24px;
    color: #111111;
    text-align: center;
}

.modal-info p{
    margin-top: 5px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

/* Close-Modal */
.close-modal p{
    position: absolute;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #999999;
    bottom: 30px;
    right: 281px;
    cursor: pointer;
}