{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <!--Mais acessadas-->
    <div class="bests">
        <div class="cards">

        {% for receita in receitas %}

            <div class="card" id="{{receita.id}}" idFoto="{{receita.image}}" name="{{receita.title}}" by="{{receita.author}}">
                <div class="card-image">
                    <img src="{{receita.image}}" alt="{{receita.title}}">
                </div>
                
                <div class="card-content">
                    <p>{{receita.title}}</p>
                    <div class="card-chef">
                        <p>{{receita.author}}</p>
                    </div>
                </div>
            </div>

        {% endfor%}


        </div>
    </div>


{% endblock%}