{% extends "layout.njk" %}

{% block content %}
    <!--Mais acessadas-->
    <div class="bests">
        <div class="cards">

        {% for receita in receitas %}

            <div class="card" idFoto="{{receita.image}}" name="{{receita.title}}" by="{{receita.author}}">
                <div class="card-image">
                    <img src="{{receita.image}}" alt="{{receita.title}}">
                </div>
                
                <div class="card-content">
                    <p>{{receita.title}}</p>
                    <div class="card-chef">
                        <p>{{receita.author}}</p>
                    </div>
                </div>
            </div>

        {% endfor%}


        </div>
    </div>


    <!--MODAL-->
    <div class="modal-overlay">
        <div class="modal">
            
            <div class="modal-image">
                <img src="" alt="Modal da comida">
            </div>

            <div class="modal-info">
                <h2>Asinhas de Frango ao barbecue</h2>
                <p>por Vania Steroski</p>
            </div>

            <div class="close-modal">
                <p>Fechar modal</p>
            </div>

        </div>
    </div>

{% endblock%}