{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}} - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="prato">
        <div class="prato-img">
            <img src="{{receita.image}}" alt="{{receita.title}}">
        </div>

        <div class="prato-info">
            <h1>{{receita.title}}</h1>
            <h2>por {{receita.author}}</h2>
        </div>

        <div class="prato-content">
            <div class="dish-list">
                <div class="dish-title">
                    <h1>Ingredientes</h1>
                    <h2>ESCONDER</h2>
                </div>
                <ul>
                {% for ingredient in receita.ingredients%}
                    <li>{{ingredient}}</li>
                {% endfor %}
                </ul>
            </div>

            <div class="dish-list">
                <div class="dish-title">
                    <h1>Modo de preparo</h1>
                    <h2>MOSTRAR</h2>
                </div>
                {% for preparation in receita.preparation%}
                    <li>{{preparation}}</li>
                {% endfor %}
            </div>

            <div class="more-information">
                    <div class="dish-title">
                    <h1>Informações adicionais</h1>
                    <h2>ESCONDER</h2>
                </div>
                <p>{{receita.information}}</p>
                
            </div>
        </div>

    </div>




{% endblock%}