{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="about">

        <h1>{{about.about}}</h1>
        <p>{{about.text1}}</p>
        <p>{{about.text2}}</p>


        <h2>{{about.beginning}}</h2>
        <p>{{about.text1}}</p>
        <p>{{about.text2}}</p>


        <h2>{{about.recips}}</h2>
        <p>{{about.text2}}</p>
    </div>

{% endblock %}